In [1]:
import numpy as np

In [3]:
a=np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [4]:
import pandas as pd

In [6]:
pd.__version__
#pandas series creation
array=pd.Series([0.25,0.50,0.75,1.0])
array

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
array[1]

0.5

In [11]:
#single pandas series object

population_dict={'california':3832,'texas':2644,'new york':1965,'florida':1955}
population=pd.Series(population_dict)
population

california    3832
texas         2644
new york      1965
florida       1955
dtype: int64

In [15]:
#single pandas series object

Area_dict={'california':4239,'texas':6956,'new york':1412,'florida':1703}
Area=pd.Series(Areahttp://localhost:8888/notebooks/Numpy_pandas_basic.ipynb#_dict)
Area

SyntaxError: invalid syntax (481784508.py, line 4)

In [13]:
#dataframe as generalised numpy array
States= pd.DataFrame({'pop':population,'area':Area})
States

             pop  area
california  3832  4239
texas       2644  6956
new york    1965  1412
florida     1955  1703

In [16]:
States.index

Index(['california', 'texas', 'new york', 'florida'], dtype='object')

In [17]:
States.columns

Index(['pop', 'area'], dtype='object')

In [19]:
States['area']['texas']

6956

In [20]:
#dataframe as a specitised dictionary
States['area']

california    4239
texas         6956
new york      1412
florida       1703
Name: area, dtype: int64